n8n-recaptcha-workflow.json
{
  "name": "Optim Build - Formulario con reCAPTCHA v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "35739b9e-f443-4a8f-8d75-9e32f6816b6a",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.google.com/recaptcha/api/siteverify?secret=6Lf082AsAAAAAP49aR0YscJNR8sfF7jsR59uvTD5&response={{ $json.body.recaptcha_response }}",
        "options": {}
      },
      "name": "Validar reCAPTCHA v3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ],
          "number": [
            {
              "value1": "={{ $json.score }}",
              "operation": "largerEqual",
              "value2": 0.5
            }
          ]
        },
        "combineOperation": "all"
      },
      "name": "reCAPTCHA valido (score >= 0.5)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $('Webhook').item.json.body.name }}"
            },
            {
              "name": "email",
              "value": "={{ $('Webhook').item.json.body.email }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "project_description",
              "value": "={{ $('Webhook').item.json.body.project_description }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Webhook').item.json.body.utm_source }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Webhook').item.json.body.utm_medium }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Webhook').item.json.body.utm_campaign }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Webhook').item.json.body.utm_term }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Webhook').item.json.body.utm_content }}"
            }
          ],
          "number": [
            {
              "name": "recaptcha_score",
              "value": "={{ $('Validar reCAPTCHA v3').item.json.score }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Preparar datos del lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "=",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Respuesta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "=",
        "options": {
          "responseCode": 400
        }
      },
      "name": "Respuesta Error - Bot detectado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validar reCAPTCHA v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar reCAPTCHA v3": {
      "main": [
        [
          {
            "node": "reCAPTCHA valido (score >= 0.5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reCAPTCHA valido (score >= 0.5)": {
      "main": [
        [
          {
            "node": "Preparar datos del lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error - Bot detectado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos del lead": {
      "main": [
        [
          {
            "node": "Respuesta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}